In [10]:
import sqlite3
connection= sqlite3.connect("mytable.db")
crsr=connection.cursor()
s=""" CREATE TABLE student(Stud_id INTEGER PRIMARY KEY,Fname VARCHAR(20),lname VARCHAR(20), Gender VARCHAR(20),Dob DATE);"""
crsr.execute(s)
s=""" INSERT INTO student VALUES (1000`,"N","John","Male","1990-02-02");"""
crsr.execute(s)
s=""" INSERT INTO student VALUES (1001,"K","Jai","Male","1990-01-01");"""
crsr.execute(s)
s=""" INSERT INTO student VALUES (1002,"J","Krish","Male","1990-03-01");"""
crsr.execute(s)
s=""" INSERT INTO student VALUES (1003,"J","saran","Male","1990-03-02");"""
crsr.execute(s)
s=""" INSERT INTO student VALUES (1004,"J","adithya","Male","1990-03-03");"""
crsr.execute(s)
crsr.execute("SELECT * FROM student")
a=crsr.fetchall()
for i in a:
    print(i)
connection.commit()
connection.close()

(1000, 'N', 'John', 'Male', '1990-02-02')
(1001, 'K', 'Jai', 'Male', '1990-01-01')
(1002, 'J', 'Krish', 'Male', '1990-03-01')
(1003, 'J', 'saran', 'Male', '1990-03-02')
(1004, 'J', 'adithya', 'Male', '1990-03-03')

In [11]:
l=[x for x in range(20) if(x>5)]
print(l)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [12]:
l=[]
for x in range(20):
    if(x>5):
        l.append(x)
print(l)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]